.expense-row{
	margin-left:15px; 	
	border: solid 1px blue;
	border-radius: 5px;
	padding: 7px;
	width: 80%;
	color: blue;
	font-weight: bolder;
	background-color: rgb(221, 245, 245);
}
.expense-row:hover{
	background-color:rgb(198, 243, 243);
	
}